<!DOCTYPE html>
<html>
  <head>
    <title>OldSchool</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'navbar' %>
    <div data-react-panel="loading-spinner" id="loading-spinner" data-turbolinks-permanent></div>
    <div class="container" id="content">
      <%= yield %>
    </div>
  </body>
</html>
